:root {
  --Primary: #e6a75f;
  --bg: #3f3a0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(63, 58, 13, 0.8);
  border-bottom: 1px solid #6e5e4c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: var(--Primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--Primary);
}

.navbar .navbar-nav a::after {
  content: " ";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--Primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--Primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hero-bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(63, 58, 13, 1) 8%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 4em;
  color: rgb(54, 44, 16);
  text-shadow: 1px 1px 3px rgba(63, 58, 13, 0.5);
  line-height: 1.2;
}
.hero .content h1 span {
  color: #000;
}
.hero .content p {
  color: #000;
  font-size: 1.5rem;
  margin-top: 1 rem;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(63, 58, 13, 0.5);
  line-height: 1.2;
}
.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #000;
  border-radius: 1rem;
  background: linear-gradient(to right, var(--Primary), #d58b37, var(--bg));
  box-shadow: 1px 1px 3px var(--bg);
}
.hero .content .cta:hover {
  color: var(--bg);
}

/* About Section */
.about,
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}
.about h2,
.menu h2,
.contact h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 3rem;
}
.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--Primary);
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
/* .about .row .about-img img::after{
  content: "";
  display: block;
  width: 100%;
  height: 20%;
  position: relative;
  bottom: 0;
  background: linear-gradient(0deg, rgba(168, 140, 16, 0.9) 3%, rgba(255, 255, 255, 0) 50,);
} */
.about .row .about-img img {
  width: 100%;
  height: auto;
}
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about .row .content h3 span {
  color: var(--Primary);
}
.about .row .content p {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  line-height: 1.6rem;
  font-weight: 300;
}

/* Menu Section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6rem;
}
.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.menu .row .menu-card {
  text-align: center;
  padding-bottom: 3rem;
}
.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}
.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #554e13;
  border: 2px solid var(--Primary);
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid var(--Primary);
  padding-left: 2rem;
}
.contact .row form .input-group input {
  width: 100%;
  background: none;
  font-size: 1.3rem;
  padding: 0.8rem;
  color: var(--Primary);
}
.contact .row form button {
  margin-top: 2.5rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #000;
  background-color: var(--Primary);
  border-radius: 15px;
  border: 2px solid var(--bg);
  cursor: pointer;
}
.contact .row form button:hover {
  background-color: #d58b37;
}

/* Footer Section */
footer {
  background-color: var(--Primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}
footer .socials {
  padding: 1rem 0;
}
footer .socials a {
  color: #000;
  margin: 1rem;
}
footer .socials a:hover,
footer .links a:hover {
  color: #fff;
}
footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  padding: 0.7rem 1rem;
  color: #000;
}
footer .credit {
  font-size: 0.8rem;
  color: #000;
  font-weight: 700;
}
footer .credit a {
  color: #fff;
  font-weight: 700;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #6e5e4c;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
  .menu p {
    font-size: 1.2rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
}
/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
